._3p9iU {
    background-color: #ddd;
    margin: 20px;
    max-width: 500px;
  }
  
  ._272Wt {
    background-color: salmon;
    color: #ddd;
  }
  
  ._2WHqE {
    background-color: lightblue;
    color: #000;
  }
  
  ._3fsdO {
    background-color: #fff;
    color: #000;
  }
